# Flutter
/build/
/.dart_tool/
/.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Backend SAM
backend/.aws-sam/
backend/node_modules/
backend/package-lock.json

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db